<div class="app-header">

</div>

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto tweet-new">
      <%= form_for @tweet do |f| %>

      <!-- Material form contact -->
      <div class="card ">

        <h5 class="card-header info-color white-text text-center py-4">
          <strong>新規投稿</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">

          <!-- Form -->
          <form class="text-center" style="color: #757575;">



            <!-- title -->
            <%= f.text_field :tweet_title,placeholder: "タイトル" %><br>

            <%# place %>
            <%= f.text_field :place,placeholder: "施設名" %><br>


            <!-- image -->
            <%= f.label :"写真：" %><%= f.file_field :img, id: :tweet_img %>

            <!--content-->
            <div class="md-form">
              <%= f.text_area :body,class:"form-control md-textarea",id:"materialContactFormMessage",placeholder: "内容",rows:"5" %>
            </div>

            <!-- country -->
            <%= f.text_field :country,placeholder: "国名" %> <br>

            <!-- city -->
            <%= f.text_field :city,placeholder: "街名" %><br>

            <!-- language -->
            <%= f.check_box :japanese, {}, "#日本語対応","" %>
            <%= f.label :japanese, "日本語対応" %>
            <%= f.check_box :english, {}, "#英語対応","" %>
            <%= f.label :english, "英語対応" %>
            <%= f.check_box :local, {}, "#現地語のみ","" %>
            <%= f.label :local, "現地語のみ" %>

            <!-- Send button -->
            <%= f.submit "投稿する",class:"btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" %>

          </form>
          <!-- Form -->

        </div>

      </div>
      <!-- Material form contact -->
      <% end %>
      <%= link_to "投稿一覧に戻る", tweets_path %>
    </div>
  </div>
</div>
