
<% provide(:title, 'All users') %>
<div class="app-header">

</div>

<div class="container">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-md-4 col-sm-12 tweets-top">
      <% if user_signed_in? %>
        <%= link_to "あなたの体験を投稿する", new_tweet_path,class:"btn btn-outline-info btn-tweet-new"  %>
      <% end %>


    </div>
    <div class="col">

    </div>

  </div>

</div>


  <div class="container">
    <div class="row">
      <% @users.each do |f| %>
      <div class="col-md-4 col-sm-12">
        <div class="card tweet-box　border-info" style="width: 18rem;">
          <div class="card-body">


            <div class="text-center">
              <%= image_tag f.avatar.to_s, class: "avatar" %><br>
              <button type="button" class="btn btn-info btn-username" data-toggle="modal" data-target="#<%= f.id %>">
                <%= f.username %>
              </button>
            </div>
            <p class="user-country">〜滞在/旅行歴〜</p><br>
            <%= f.history %>
            <!-- Button trigger modal -->


            <!-- Modal -->
            <div class="modal fade" id="<%= f.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"><%= f.username %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                      <div class="text-center">
                        <%= image_tag f.avatar.to_s, class: "avatar" %><br>
                      </div>

                      <p>URL:<%= link_to f.user_url, f.user_url, class:"bg-transparent" %></p><br>
                      <%= f.user_introduction %><br>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    <% if user_signed_in? and f.id == current_user.id %>
                      <%= button_to "編集する", edit_user_registration_path(current_user), {class: "btn btn-outline-info", method: :get} %>
                    <% end %>
                    <%= link_to "詳細へ", user_path(f.id), class:"btn btn-info" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
