<!DOCTYPE html>
<html>
  <head>
    <title>HABITRA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light header">
      <%= link_to "HABITRA", "/home",class:"text-left text-header bg-transparent navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto header-nav">
          <li class="nav-item text-right">
            <%= link_to "投稿一覧", tweets_path,class:" text-header bg-transparent nav-link" %>
          </li>
          <li class="nav-item text-right">
            <%= link_to "HABITANT一覧", users_path,class:" text-header bg-transparent nav-link" %>
          </li>
          <% if user_signed_in? %>
          <li class="nav-item text-right">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:" text-header bg-transparent nav-link" %>
          </li>
          <% else %>
          <li class="nav-item text-right">
            <%= link_to "新規登録", new_user_registration_path,class:" text-header bg-transparent nav-link" %>
          </li>
          <li class="nav-item text-right">
            <%= link_to "ログイン", new_user_session_path,class:" text-header bg-transparent nav-link" %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>

  </body>
</html>
